* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', system-ui, -apple-system, sans-serif;
  background-color: #fafafa;
  color: #213547;
  min-height: 100vh;
}
